* {
  box-sizing: border-box;
}
.image-container {
  position: relative;
}
.image {
  position: relative;
  display: block;

  max-width: 100%;

  margin: 0 auto;
}
.image-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 85px);
  background-color: bisque;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  filter: opacity(0.5);
  cursor: pointer;
}
.image-button:hover {
  filter: opacity(1);
}
